<div>
<div style="text-align:center;border:none;" class="modal-header">
            <h3 class="modal-title" id="modal-title">reservez!</h3>
        </div>
        <div style="text-align:center;border:none;" class="modal-body" id="modal-body">
            <select ng-model="value">
              <option value="1">1&euro;</option>
              <option value="2">2&euro;</option>
              <option value="3">3&euro;</option>
              <option value="4">4&euro;</option>
              <option value="5">5&euro;</option>
              <option value="6">6&euro;</option>
              <option value="7">7&euro;</option>
              <option value="8">8&euro;</option>
              <option value="9">9&euro;</option>
              <option value="10">10&euro;</option>
            </select>
        </div>
        <div  style="text-align:center;border:none;" class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </div>