<ion-view hide-nav-bar="true">

 <ion-content >

<p style="text-align:center;margin-bottom:250px;margin-top:150px;"><img  src="img/logo.jpg" style="width: 74px; height: 54px"></p>


 </ion-content>
<div style="position:absolute;bottom:-100px;height:200px;width:100%;">
<div style="width:100%;">
  <button style="background-color:#81f491;color:#EEE;width:100%;height:50px;border:none;" ng-click="login()">connexion</button></div>
  <div>
  <button style="background-color:#4dec63;color:#EEE;width:100%;height:50px;border:none;" ng-click="register()">inscription</button>
</div>
</div>
</ion-view>