<ion-view style="background-color:#F5F5F5;">
<div style="z-index:50;border:none;background-color:#a8b9ee;" class="bar bar-header">
    <button ng-click="dash()" class="button button-icon icon ion-arrow-left-c"></button>
  </div>
  <div ng-show="spinner" style="position:absolute;z-index:100;text-align:center;width:100%;height:100%;background-color:#F5F5F5;opacity:0.8;"><img style="margin-top:100%;" src="img/default.gif"></div>
	<ion-content style="position:absolute;z-index:10;">
      <div class="item-remove-animate" ng-repeat="user in users | limitTo : 1">
        <img style="opacity:0.5;width:100%;height:400px;" src="img/user.jpg"><br>
    </div>
    <div style="position:relative;bottom:15rem;text-align:center;">
    	<a href="" ng-click=""><img style="border-radius:4rem;width:90px;height:90px;" src="img/crackou.jpg"></a>
    </div>
  <div style="text-align:center;position:relative;bottom:15rem;">
    <h4 style="text-transform:capitalize;">{{user.username}}</h4>
  </div>

  <div style="text-align:center;position:relative;bottom:10rem;" class="row">
  	<div style="text-align:center;text-transform:capitalize;" class="col"><strong>12&euro;</strong></div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col"><strong>226&euro;</strong></div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col"><strong>104&euro;</strong></div>
  </div>

  <div style="text-align:center;position:relative;bottom:10rem;" class="row">
  	<div style="text-align:center;text-transform:capitalize;" class="col">dernier don</div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col">total dons</div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col">top dons</div>
  </div>

  <div style="text-align:center;position:relative;bottom:9rem;" class="row">
  	<div style="text-align:center;text-transform:capitalize;" class="col"><a ng-click="showsocial('twitter')" style="color:#4099FF;" class="button button-icon icon ion-social-twitter"></a></div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col"><a ng-click="showsocial('facebook')" style="color:#3b5998;" class="button button-icon icon ion-social-facebook"></a></div>
  	<div style="text-align:center;text-transform:capitalize;"  class="col"><a ng-click="showsocial('snapchat')"  style="color:#fffc01;" class="button button-icon icon ion-social-snapchat"></a></div>
  </div>
  <div ng-show="sociale" style="width:60%;margin:0 auto;position:relative;bottom:8rem;padding:1rem;text-align:center;">{{social}}</div>
	</ion-centent>
</ion-view>